.Rproj.user

**/.Rhistory
**/.history
*.history

*.history

processed_data/*
raw_input_files/*
figures/*
allometries/*
RWL/*


*.Rdata

*.pdf



pecan.allometry/data/Table3_GTR-NE-319.v2_RossAdendum4.csv
