.Rproj.user

**/.Rhistory
**/.history
*.history

*.history

processed_data/*
raw_input_files/*

raw input files/*

figures/*

RWL/*


*.Rdata

*.pdf



table_2_chron_stats.xlsx

Table1_var_ranges.xlsx

XX_ME_acer_test.R

valles_tree_data.csv

valles_core_data_06172016.xlsx
